{% extends "MopaBootstrapSandboxBundle::base.html.twig" %}
{% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}

{% block headline %}Horizontal forms{% endblock headline %}

{% block content_row %}
<form class="bs-example form-horizontal">
    {{ form_widget(form) }}
</form>
<div class="col-lg-6">
    <h3>What's included</h3>
    <p>Shown on the left are some of the default form controls supported</p>
    <p>Watch out that every control has a bunch of options to define in the form classes</p>
</div>
{% endblock content_row %}

{% set showTemplate = _self %}{% set showForm = formType %}
