{% extends "MopaBootstrapSandboxBundle::layout.html.twig" %}

{% block headline %}The Basic Layout{% endblock headline %}
{% block content %}
<div class="span4">
    <h3>To kick start development</h3>
    <p>just create a file in app/Resources/MopaBootstrapBundle/views/layout.html.twig</p>

    <pre class="prettyprint">
{% raw %}
{% extends 'MopaBootstrapBundle::base.html.twig' %}

{% block title %}Yourapp{% endblock %}

{# and define more blocks ... #}
{% endraw %}
    </pre>
    <p>a good example is the sandbox itself:</p>
    <ul>
        <li><a href="https://github.com/phiamo/MopaBootstrapSandboxBundle/blob/master/Resources/views/base.html.twig">base.html.twig</a></li>
        <li><a href="https://github.com/phiamo/MopaBootstrapSandboxBundle/tree/master/Resources/views/Examples">Resources/views/Examples</a></li>
    </ul>
</div>
<div class="span4">
    <h3>Use initializr</h3>
    <p>Same as before just using initializr:</p>

    <pre class="prettyprint">
{% raw %}
{% extends 'MopaBootstrapBundle::base_initializr.html.twig' %}

{% block title %}Yourapp{% endblock %}

{# and define more blocks ... #}
{% endraw %}
    </pre>
    <p>or if global title is set in config.yml:</p>
    <pre class="prettyprint">
{% raw %}
{% extends 'MopaBootstrapBundle::base_initializr.html.twig' %}

{% block title %}{{ parent() }} - Example subpage{% endblock %}

{# and define more blocks ... #}
{% endraw %}
    </pre>
    <p>But you have at least to activate the template variables in config.yml:</p>
    <pre class="prettyprint lang-yaml">
mopa_bootstrap:
    navbar: ~
    initializr: ~
    </pre>
    <p>You can also configure it</p>
    <ul>
        <li><a href="https://github.com/phiamo/MopaBootstrapSandboxBundle/blob/master/Resources/doc/51-initializr-variables.md">51-initializr-variables.md</a></li>
    </ul>
</div>
<div class="span4">
    <h3>Using Bundles</h3>
    <p>To overwrite the Templates you might either use the app/Resources folder</p>
    <p>Or create a Bundle AcmeBootstrapSomethingBundle and use the inheritance:</p>

    <pre class="prettyprint lang-php">
class AcmeBootstrapSomethingBundle extends Bundle
{

    public function getParent()
    {
        return 'MopaBootstrapBundle';
    }
}

    </pre>
    <p>But you have to be aware that only one Bundle in your app may extend the BootstrapBundle</p>
</div>
{% endblock content %}
